* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(142, 236, 240);
}



/*HEADER*/

header {
    position: fixed;
    background-color: white;
    height: 126px;
    width: 100%;
    top: 0;
/* Stick to the top */
    left: 0;
/* Stick to the left */
    z-index: 100;
/* Ensure header stays on top */
}

.header {
    display: flex;
    align-items: center;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
    margin-left: 30px;
    min-width: 400px;
    width: 40%;
    font-size: 25px;
    font-family: 'poppins-semibold', 'Poppins', Arial, Helvetica, sans-serif;
}

.header-left a {

    display: flex;
    align-items: center;
    margin-left: 30px;
    min-width: 400px;
    width: 40%;
    font-size: 25px;
    font-family: 'poppins-semibold', 'Poppins', Arial, Helvetica, sans-serif;
   
    text-decoration: none;
    color: black;
}

.header-left a span {
    font-size: 20px;
    font-family: 'Abel', 'Abel-thin', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.square {
    display: flex;
    height: 20px;
    width: 20px;
    margin-right: 5px;
    background-color: rgb(86, 200, 235);
}

.header-right {
    display: flex;
    align-items: center;
    width: 60%;

}

.navbar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.navbar ul {
    display: flex;
    list-style-type: none;
    font-size: 16px;
    margin-right: 30px;
    font-family: 'Abel', 'Abel-thin';

}

.navbar ul li {
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.navbar ul li a:target {
    color: blue;
}



/*PAGE*/


.page {
    display: flex;
    width: 100%;
}

.red {
    height: 952px;
    min-width: 400px;
    width: 40%;
    background-color: rgb(142, 236, 240);
}

.white {
    height: 952px;
    width: 60%;
    background-color: rgb(142, 236, 240);
}




/*intro box*/


.myintro {
    position: absolute;
    display: flex;
    left: max(100px, 19%);
    top: 250px;

}

.myintro-introbox {
    position: relative;
    background-color: rgb(85, 193, 243);
    width: 375px;
    height: 525px;
    box-shadow: -5px 10px 15px rgba(0, 0, 0, 0.18);
    /* Adjust values as needed */
}

.intro {
    margin: 20px;
}

#photo {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    height: 205px;
    width: 205px;
}

#photo img {
    background-color: rgba(155, 156, 156, 0.776);
    border-radius: 50%;
    height: 200px;
    width: 200px;
}

#text {
    margin-top: 30px;
    font-family: 'poppins-semibold', 'Poppins', Arial, Helvetica, sans-serif;
    line-height: 1.2em;
    text-align: center;
    font-size: 27px;
}

hr {
    background-color: blue;
    width: 50px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    margin-top: 25px;
}

#myprof {
    text-align: center;
    font-family: 'Abel', 'Abel-thin';
    font-size: 24px;
}

.socialintro {
    background-color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 53px;
}

.mediaadd {
    width: fit-content;
    height: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.mymedia {
    margin-left: 20px;
}

.mediaadd a {
    height: 31px;
    width: 31px;
}

.socialimg {
    height: 30px;
    width: 30px;
}



.about {

    margin-left: 30px;
}

#font1 {
    padding-left: 2px;
    font-size: 100px;
    font-family: 'poppins-semibold', 'Poppins';
}

#font2 {
    font-size: 25px;
    margin-bottom: 38px;
}

#btn1 {
    width: 135px;
    height: 35px;
    background-color: rgb(35, 35, 252);
    color: white;
    font-size: 14px;
    border: 2px solid rgb(35, 35, 252);
    border-radius: 20px;
    transition: background-color 0.4s ease;
}

#btn2 {
    width: 135px;
    height: 35px;
    margin-left: 10px;
    margin-bottom: 56px;

    background-color: white;
    color: black;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 20px;
    transition: background-color 0.4s ease;
}

#btn1:hover {
    background-color: white;
    color: black;
}

#btn2:hover {
    background-color: rgb(35, 35, 252);
    color: white;
    border: 1px solid rgb(35, 35, 252);
}

#font3 {
    width: 365px;
    font-size: 17px;
}

#font4 {
    margin-top: 1.5em;
    width: 365px;
    font-size: 17px;
}







/*                             section resume                         */














/*                       footer                     */







footer {
    display: flex;
    background-color: white;
    height: 110px;
    width: 100%;

}

.foot {
    display: flex;
    width: 100%;
    align-items: center;
}

.foot-cpy {
    width: 40%;
    height: max-content;
    align-items: center;
}

.foot-cpy p {
    margin-left: 30px;
}

.foot-contact {
    display: flex;
    width: 60%;
    align-items: center;
}

.foot-contact-items {
    display: flex;
    width: fit-content;
    margin-left: auto;
    align-items: center;
}

.item1,
.item2,
.item3 {
    text-align: center;
    margin-right: 50px;
}

.foot-mediaadd {
    width: fit-content;
    height: fit-content;

    margin-left: auto;
    margin-right: auto;
}

.foot-mymedia {
    margin-left: 5px;
}

.foot-mediaadd a {
    height: 16px;
    width: 16px;
}

.foot-socialimg {
    height: 15px;
    width: 15px;
}


/* CSS for the modifications */





/*          smartphone   */
/* CSS for the modifications */

/* Smartphone styles */